.support {
	background-color: #25d366;
	color: #fff;
	font-size: 24px;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	padding-bottom: 7px;
	z-index: 1000;
	width: 48px;
	height: 48px;
	position: fixed;
	bottom: 20px;
	right: 20px;
}

.support:hover {
	transform: translateY(-3px);
}
@media (max-width: 480px) {
	.support {
    top: 170vw;

		position: fixed;
		right:   20px;
	}
}
