.feature-section h1 {
	font-weight: 300;
	font-size: 2.5vw;
}

.feature-section h2 {
	font-weight: 300;
	font-size: 1.1vw;
	padding-bottom: 0.4vw;
}

.feature-section p {
	padding: 1vw;
	font-weight: 200;
	font-size: 1.1vw;
	word-spacing: 4px;
}

.feature-icons {
	font-weight: 200;
	font-size: 1vw;
}

@media (max-width: 600px) {
	.feature-section h1 {
		font-weight: 300;
		font-size: 4vw;
		padding-top: 6vw;
		font-style: italic;
	}

	.feature-section h2 {
		font-weight: 300;
		font-size: 10vw;
		padding: 1vw;
		padding-top: 10vw;
	}

	.feature-section p {
		padding: 1vw;
		font-weight: 200;
		font-size: 4vw;
		word-spacing: 3px;
		padding-top: 5vw;
	}

	.feature-icons {
		font-weight: 200;
		font-size: 4vw;
	}
}
