.Food-page{
	width: 100vw;
}
.FoodForm {
	position: relative;
	left: 30vw;
	display: flex;
	margin-top: 30px;
	margin-bottom: 30px;
	justify-content: center;
	width: 600px;
}

.forrm{
	background-color: #ffffff;
	width: 100%;
}
/* div {
	margin-bottom: 15px;
} */
.veg-non label{
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.veg-non {
	display: flex;
	justify-content: space-around;
}

.forrm input[type="radio"],
.forrm input[type="checkbox"] {
	margin-right: 5px;
}

.forrm input[type="range"] {
	color: #e23744;
	align-self: center;
	width: 90%;
	margin-top: 5px;
}

.custbtn {
	padding: 10px;
	margin-right: 10px;
	font-size: 16px;
	cursor: pointer;
	background-color: #e23744;
	color: #fff;
	border: none;
	border-radius: 4px;
	transition: background-color 0.3s;
}

.custbtn:hover {
	background-color: #ff3e3e;
}

/* .forrm input[type="radio"] {
	appearance: none; 
	width: 20px; 
	height: 20px; 
	border-radius: 50%; 
	border: 2px solid gold;
	outline: none; 
}
.formm input[type="radio"]:checked {
	background-color: gold; 
} */

/* Custom styling for the checkboxes */
.formm input[type="checkbox"] {
	transform: scale(1.5);
}

.drop-btn {
	display: flex;
	justify-content: space-between;
	/* flex-direction: row; */
}
/* Additional styling for the form based on your requirements */
/* Add your custom styles here */
.drop-btn-cb {
	display: flex;
	flex-direction: column;
}

.bdr {
	border: 2px solid;
	border-image: linear-gradient(45deg, #d9d9d9, #f2f2f2) 1;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(192, 192, 192, 0.5);
}
.form-head {
	font-weight: bold;
	margin-top: 20px;
	z-index: 10;
	text-align: start;
	transform: translateX(15px);
	font-size: 28px;
	color: #333; /* Use a dark color for elegance */
	letter-spacing: 1px; /* Add a subtle letter spacing */
	line-height: 1.5; /* Adjust line height for readability and elegance */
	text-transform: uppercase; /* Convert text to uppercase for a polished look */
	/* font-weight: bold; */
	font-family: poppins;
	text-shadow: 1 1 10px rgba(192, 192, 192, 0.5);
}

.form-head img {
	height: 18px;
}
.inner-img img{
	height: 40px;
}
.inner-img2 img{
	height: 25px;
}
.sub-res {
	display: flex;
	align-items: center;
	justify-content: center;
}
.drop-btn{
	margin-bottom: 10px;
}