.spage {
	height: 90vh;
	background-image: url("../../public/signup.jpg");
	background-size: cover;
	display: flex;

	justify-content: center;
	align-items: center;
}
.sform {
    width: 500px;

	background-color: #ffffff;
	display: flex;
    
	flex-direction: column;
	gap: 10px;
	padding: 30px;
	border-radius: 20px;
	font-family: poppins
}

.sform h1{
    font-weight: bolder;
    color: #e23744;
}
.sinputForm {
    font-size: 16px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
  }
  
  .input {
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 85%;
    height: 100%;
  }
