.first {
	height: 50vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("../../public/aboutf.jpg");
	background-size: cover; /* or 'contain' for a different scaling option */
	background-repeat: no-repeat;
	background-blend-mode: darken 50%;
	background-position: center;
}
.first::before {
	content: "About Us";
	position: absolute;
	top: 69%;
	left: 14%;
	transform: translate(-50%, -50%);
	color: #fff; /* Set the text color */
	font-size: 48px; /* Set the font size */
	font-family: poppins;
	font-weight: 400;

	/* Other text styles can be added as needed */
}
.red {
	color: #e23744;
}
.firstdata {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* width: 95%; */
	margin: 50px 0 50px 0;
}
.middle-data {
	margin: 50px 0 50px 0;
	font-family: poppins;
	font-size: 20px;
	text-align: center;
	margin: 100px 120px 100px 120px;
}
.firstdata h1 {
	font-family: poppins;
	font-weight: bolder;
	font-size: 48px;
	margin-left: 80px;
	margin-right: 80px;
	margin-bottom: 30px;
}
.firstdata p {
	font-family: poppins;
	font-size: 20px;
	/* margin-left: 80px; */
}

.second {
	height: 50vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("../../public/abouts.jpg");
	background-size: cover; /* or 'contain' for a different scaling option */
	background-repeat: no-repeat;
	background-position: center;
}
.second::before {
	content: "Our Mission";
	position: absolute;
	top: 162%;
	left: 15%;
	transform: translate(-50%, -50%);
	color: #fff; /* Set the text color */
	font-size: 48px; /* Set the font size */
	font-family: poppins;
	font-weight: 400;
}

/* .second-container{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
} */
.seconddata {
	/* width: 60%; */
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	margin: 50px 0 50px 0;
}
.seconddata h1 {
	font-family: poppins;
	font-weight: bolder;
	font-size: 48px;
	margin-left: 80px;
	margin-right: 80px;
	margin-bottom: 50px;
}
.seconddata p {
	font-family: poppins;
	font-size: 20px;
	margin-left: 80px;
	margin-right: 80px;
	margin-bottom: 40px;
}
@media (max-width: 600px) {
	.firstdata {
		text-align: center;
		margin: 50px 0 50px 0;
	}
	.first {
		height: 30vh;
	}
	.first::before {
		top: 60%;
		left: 36%;
	}
	.firstdata {
		width: 90vw;
		font-size: 20px;
	}
	.firstdata h1 {
		margin-left: 30vw;
		font-size: 24px;
	}
	.firstdata p {
		margin-left: 10vw;
		text-align: center;
		font-size: 16px;
	}
	.middle-data {
		
		margin: 30px 40px 30px 40px;
	}

	.middle-data p {
		font-size: 16px;
		padding: 0px;
		margin: 0px;
	}
	.second {
		align-items: center;
		height: 30vh;
	}

	.second::before {
		top: 140%;
		left: 39%;
	}
	
	.seconddata h1 {
		margin-left: 20vw;
		font-size: 24px;
	}
	.seconddata h3 {
		margin-left: 5vw;
		margin-bottom: 15px;
		font-size: 16px;
	}
	.seconddata p {
		margin: 0px 20px 20px 0px;
		font-size: 12px;
		margin-left: 5vw;
	}
}
