.ff-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top:2vw;
    margin-left:.6vw;
    margin-bottom:2vw;
  }
  
  .ff-card {
    position: relative;
    width: 200px;
    height: 100px;
    background: #fff;
    border-radius: 10px;
    transition: all 0.3s;
  }
  
  .ff-card:hover {
    transform: scale(1.05);
  }
  
  
  .ff-input {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    appearance: none;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    z-index: 10;
    box-shadow: 1px 1px 10px #aaaaaa, -1px -1px 10px #ffffff;
  }
  
  .ff-input + .ff-check::before {
    /* display: none; */
    content: "";
    position: absolute;
    top: 15px;
    right: 15px;
    width: 16px;
    height: 16px;
    border: 2px solid #d0d0d0;
    border-radius: 50%;
    background-color: #e8e8e8;
  }
  
  .ff-input:checked + .ff-check::after {
    /* display: none; */
    content: '';
    position: absolute;
    top: 16.99px;
    right: 17.4px;
    width: 12px;
    height: 12px;
    background-color: rgba(255, 0, 0, 0.7);
    border-radius: 50%;
  }
  
  .ff-input[value="standard"]:checked + .ff-check::after {
    background-color: rgba(255, 165, 0, 0.7);
  }
  
  .ff-input[value="premium"]:checked + .ff-check::after {
    background-color:  rgba(128, 1, 255, 0.7);
  }
  
  .ff-input[value="basic"]:checked {
    border: 1.5px solid rgba(255, 0, 0, 0.7);
  }
  
  .ff-input[value="standard"]:checked {
    border: 1.5px solid rgba(255, 165, 0, 0.7);
  }
  
  .ff-input[value="premium"]:checked {
    border: 1.5px solid rgba(128, 1, 255, 0.7);
  }
  
  .ff-label {
    color: #323232;
    position: absolute;
    top: -105px;
    left: 0;
    font-size:20px ;
    z-index: 0;
  }
  
  .ff-label .ff-title {
    margin: 15px 0 0 15px;
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 1px;
  }
  
  .ff-label .ff-price {
    margin: 20px 10px 0 15px;
    font-size: 15px;
    font-weight:  900;
  }
  
  .ff-label .ff-span {
    color: gray;
    font-weight: 700;
    font-size: 10px;
  }
  .ff-message {
    top: 0px;
    padding: 0px;
    height: 10vw;

  }




  .cform {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
    /* background-color: #e8e8e8; */
    padding: 20px;
    /* border-radius: 20px; */
    position: relative;
  }
  
  .title {
    font-size: 28px;
    color: #e23744;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #e23744;
  }
  
  .title::before {
    width: 18px;
    height: 18px;
    background-color: #e23744;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  



  .cform label .input {
    width: 100%;
    padding: 20px 10px 20px 10px;    
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  
  
  .cmain{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content:center ;

  }
  
  .main img{
    height: 300px;
  }

  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }
 
  .submit{
    align-self: center;
    margin-left:20px ;
    
    width: 200px;
  }

  @media (max-width: 600px) {
    .ff-wrapper {
      flex-direction: column;
      gap: 20px; align-items: center;
    }
    .box img{
      display: none;
    }
  }